app = "parkhub-php"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
  DB_CONNECTION = "sqlite"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
